.map 
{ 	
	position: absolute; 
	top:0%; 
	bottom:30%;
	left: 31.3%;
	width:68.8%;
	height:65%;
}

table {
	border-collapse: collapse;
	width: 31.3%;
}
table th {
	text-align: left;
	background-color: #F08080;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table td {
	border: 1px solid #e3e3e3;
	padding: 1px 4px;
	font-size: 14px;
	top:0%;
  	bottom:0%;
  	
}

.chart
{
 	position: absolute;
	top:65%;
  	left: 34%;
  
}

.img
{
 	position: absolute;
	top: 70%;
  	left: 75%;
  	width: 300px;
  	height: 110px;
  
}